In [2]:
import numpy as np
import pandas as pd

In [3]:
df = pd.read_excel('india_export_list.xlsx')

In [4]:
df.head()

                Country    Value  Year
0         United States  $34.83B  2017
1  United Arab Emirates  $20.78B  2017
2             Hong Kong  $10.78B  2017
3                 China   $9.10B  2017
4             Singapore   $7.52B  2017

In [5]:
# remove countries India doesn't exported from in 2017. 
df = df[df['Year'] == 2017]

In [6]:
# Get country names with codes from Plotly csv file of country-wise GDP on GitHub
codes_df = pd.read_csv('https://raw.githubusercontent.com/plotly/datasets/master/2014_world_gdp_with_codes.csv')

In [7]:
codes_df.head()

          COUNTRY  GDP (BILLIONS) CODE
0     Afghanistan           21.71  AFG
1         Albania           13.40  ALB
2         Algeria          227.80  DZA
3  American Samoa            0.75  ASM
4         Andorra            4.80  AND

In [8]:
pd.isnull(df).sum()

Country    0
Value      0
Year       0
dtype: int64

In [9]:
codes_df.drop('GDP (BILLIONS)', axis=1, inplace=True)

In [10]:
# rename columns of codes_df
codes_df.columns = ['Country', 'Code']

In [11]:
df['country'] = df['Country'].apply(lambda x: x.lower()) 
codes_df['country'] = codes_df['Country'].apply(lambda x: x.lower())

In [12]:
# take inner join of df and codes_df
export_df = pd.merge(df, codes_df, how='inner', on='country')
export_df.head()

,Country_x,Value,Year,country,Country_y,Code
0,United States,$34.83B,2017,united states,United States,USA
1,United Arab Emirates,$20.78B,2017,united arab emirates,United Arab Emirates,ARE
2,Hong Kong,$10.78B,2017,hong kong,Hong Kong,HKG
3,China,$9.10B,2017,china,China,CHN
4,Singapore,$7.52B,2017,singapore,Singapore,SGP

In [13]:
export_df.drop(['country','Country_y'], axis=1, inplace=True)
export_df.head()

              Country_x    Value  Year Code
0         United States  $34.83B  2017  USA
1  United Arab Emirates  $20.78B  2017  ARE
2             Hong Kong  $10.78B  2017  HKG
3                 China   $9.10B  2017  CHN
4             Singapore   $7.52B  2017  SGP

In [14]:
export_df.columns = ['country','export','year','code']
export_df.head()

                country   export  year code
0         United States  $34.83B  2017  USA
1  United Arab Emirates  $20.78B  2017  ARE
2             Hong Kong  $10.78B  2017  HKG
3                 China   $9.10B  2017  CHN
4             Singapore   $7.52B  2017  SGP

In [15]:
export_df['export'].apply(lambda x: str(x)[-1]).unique()

array(['B', 'M', 'K'], dtype=object)

In [16]:
def clean_export(x):
    x = str(x)[1:]
    if x[-1] == 'B':
        return float(x[:-1])
    elif x[-1] == 'M':
        return float(x[:-1])/1000
    elif x[-1] == 'K':
        return float(x[:-1])/1000000
    else:
        return float(x)/1000000000

In [17]:
export_df['export'] = export_df['export'].apply(clean_export)
export_df.head()

                country  export  year code
0         United States   34.83  2017  USA
1  United Arab Emirates   20.78  2017  ARE
2             Hong Kong   10.78  2017  HKG
3                 China    9.10  2017  CHN
4             Singapore    7.52  2017  SGP

In [18]:
export_df.sort_values(by='export', ascending=False)[:5]

                country  export  year code
0         United States   34.83  2017  USA
1  United Arab Emirates   20.78  2017  ARE
2             Hong Kong   10.78  2017  HKG
3                 China    9.10  2017  CHN
4             Singapore    7.52  2017  SGP

In [17]:
export_df.to_csv('export_cleaned.csv',index=False)

In [19]:
# Total Indian Exports
export_df['export'].sum()

209.11915393000001

In [18]:
import plotly
import plotly.graph_objs as go
from plotly import tools

In [19]:
plotly.offline.init_notebook_mode(connected=True)

In [20]:
data = [dict(
    type = 'choropleth',
    locations = export_df['code'],
    z = export_df['export'],
    text = export_df['country'],
    #colorscale = 'RdBu',
    #reversescale = True,
    colorbar = dict(
        tickprefix = '$',
        title = 'Export<br>Billions US$',
    )
)]

layout = dict(
    title = 'Export to Countries around the World by India in USD Billions',
    geo = dict(
        showframe = False,
        #showcoastlines = False,
        projection = dict(
            type = 'Mercator'
        )
    )
)

plotly.offline.iplot(dict(data = data, layout = layout), validate=False)

In [21]:
plotly.offline.plot(dict(data = data, layout = layout), validate=False, show_link=False, include_plotlyjs=False, output_type='div')

'<div id="44a0f817-5d2e-4311-a332-f9eb7a57e366" style="height: 100%; width: 100%;" class="plotly-graph-div"></div><script type="text/javascript">window.PLOTLYENV=window.PLOTLYENV || {};window.PLOTLYENV.BASE_URL="https://plot.ly";Plotly.newPlot("44a0f817-5d2e-4311-a332-f9eb7a57e366", [{"type": "choropleth", "locations": ["USA", "ARE", "HKG", "CHN", "SGP", "GBR", "DEU", "VNM", "BGD", "BEL", "NPL", "ITA", "NLD", "MYS", "SAU", "TUR", "FRA", "JPN", "LKA", "ZAF", "AUS", "ESP", "MEX", "IDN", "THA", "ISR", "BRA", "IRN", "OMN", "EGY", "CAN", "NGA", "RUS", "KEN", "PHL", "PAK", "POL", "TZA", "KWT", "QAT", "IRQ", "MUS", "COL", "MOZ", "CHE", "SDN", "SWE", "DNK", "CHL", "PER", "DZA", "ETH", "PRT", "SEN", "ARG", "AFG", "GHA", "BHR", "UGA", "IRL", "BEN", "YEM", "BTN", "SOM", "TGO", "JOR", "AUT", "MAR", "CZE", "HUN", "GRC", "NOR", "ROU", "GIN", "NZL", "UKR", "GTM", "FIN", "ECU", "ZMB", "LBR", "SVN", "DJI", "TUN", "LBN", "AGO", "PAN", "MWI", "GIB", "MDV", "CMR", "MLT", "MDG", "DOM", "HRV", "ZWE", "BGR", "PRY", "URY", "HND", "SVK", "SYR", "BFA", "LBY", "NER", "CRI", "KHM", "UZB", "MLI", "CYP", "KAZ", "LVA", "BWA", "LTU", "BOL", "HTI", "RWA", "TTO", "VEN", "SLE", "NIC", "EST", "GEO", "MRT", "SLV", "TKM", "MNE", "SRB", "FJI", "JAM", "BRN", "GAB", "BLR", "CUW", "CUB", "NAM", "BDI", "PNG", "SYC", "AZE", "CAF", "ARM", "SWZ", "LSO", "KGZ", "ALB", "TJK", "TCD", "GUY", "LAO", "COM", "SUR", "MNG", "MKD", "BIH", "BLZ", "BRB", "GNQ", "LUX", "NCL", "MAC", "ERI", "PYF", "ABW", "MDA", "ISL", "CYM", "LCA", "BMU", "GRD", "SSD", "WSM", "VUT", "ATG", "DMA", "SLB", "TON", "STP", "VGB", "KIR", "AIA", "AND", "FRO", "COK", "SMR", "TUV", "MHL", "PLW", "MNP", "GRL"], "z": [34.83, 20.78, 10.78, 9.1, 7.52, 6.69, 6.24, 6.08, 5.81, 4.45, 4.35, 4.14, 3.95, 3.93, 3.78, 3.65, 3.47, 3.3, 3.15, 2.95, 2.94, 2.81, 2.8, 2.75, 2.59, 2.35, 2.27, 1.98, 1.91, 1.79, 1.77, 1.57, 1.53, 1.34, 1.2, 1.15, 1.12, 1.01, 0.99214, 0.9771, 0.9668300000000001, 0.7080700000000001, 0.7044600000000001, 0.6898500000000001, 0.67344, 0.63981, 0.56931, 0.5658500000000001, 0.56248, 0.55668, 0.55279, 0.5459299999999999, 0.53483, 0.53201, 0.5199900000000001, 0.50602, 0.49036, 0.39601, 0.38462999999999997, 0.38348000000000004, 0.3795, 0.37, 0.36805, 0.35079000000000005, 0.34741000000000005, 0.34132999999999997, 0.33102, 0.31215, 0.29951, 0.29491, 0.28799, 0.27558, 0.27364, 0.26317, 0.25523, 0.24165, 0.21674000000000002, 0.20859, 0.20675, 0.20373, 0.20266, 0.20199, 0.19638, 0.19369, 0.18683000000000002, 0.18051, 0.17839, 0.17051, 0.15616999999999998, 0.15234999999999999, 0.15206999999999998, 0.15197999999999998, 0.14264, 0.14224, 0.13, 0.12886, 0.12846000000000002, 0.12129000000000001, 0.11761, 0.11092, 0.11022, 0.10972, 0.10943000000000001, 0.09289, 0.08868000000000001, 0.08859, 0.0877, 0.0874, 0.08614, 0.08431999999999999, 0.08365, 0.08083, 0.07856999999999999, 0.07487, 0.07388, 0.07224, 0.0715, 0.06835, 0.06768, 0.06362, 0.06075, 0.06057, 0.05239, 0.05116, 0.04937, 0.046880000000000005, 0.04299, 0.04256, 0.04192, 0.039450000000000006, 0.03614, 0.03411, 0.03382, 0.03257, 0.03211, 0.031170000000000003, 0.03068, 0.0294, 0.02936, 0.02845, 0.0282, 0.02652, 0.02401, 0.02174, 0.02124, 0.01957, 0.01855, 0.0178, 0.01759, 0.01754, 0.01438, 0.01294, 0.01191, 0.01176, 0.01079, 0.01076, 0.01009, 0.0088, 0.00835, 0.00752, 0.0070999999999999995, 0.006030000000000001, 0.00562, 0.00515, 0.0050999999999999995, 0.00422, 0.0030099999999999997, 0.00289, 0.0025800000000000003, 0.00232, 0.00211, 0.00171, 0.0016899999999999999, 0.0016799999999999999, 0.00139, 0.00094339, 0.0008649700000000001, 0.0007830399999999999, 0.00058865, 0.00046045, 0.00037115, 0.00027598, 0.00024592, 0.00016653, 0.00010067, 6.195e-05, 5.356e-05, 4.0799999999999996e-05, 3.972e-05, 7.15e-06], "text": ["United States", "United Arab Emirates", "Hong Kong", "China", "Singapore", "United Kingdom", "Germany", "Vietnam", "Bangladesh", "Belgium", "Nepal", "Italy", "Netherlands", "Malaysia", "Saudi Arabia", "Turkey", "France", "Japan", "Sri Lanka", "South Africa", "Australia", "Spain", "Mexico", "Indonesia", "Thailand", "Israel", "Brazil", "Iran", "Oman", "Egypt", "Canada", "Nigeria", "Russia", "Kenya", "Philippines", "Pakistan", "Poland", "Tanzania", "Kuwait", "Qatar", "Iraq", "Mauritius", "Colombia", "Mozambique", "Switzerland", "Sudan", "Sweden", "Denmark", "Chile", "Peru", "Algeria", "Ethiopia", "Portugal", "Senegal", "Argentina", "Afghanistan", "Ghana", "Bahrain", "Uganda", "Ireland", "Benin", "Yemen", "Bhutan", "Somalia", "Togo", "Jordan", "Austria", "Morocco", "Czech Republic", "Hungary", "Greece", "Norway", "Romania", "Guinea", "New Zealand", "Ukraine", "Guatemala", "Finland", "Ecuador", "Zambia", "Liberia", "Slovenia", "Djibouti", "Tunisia", "Lebanon", "Angola", "Panama", "Malawi", "Gibraltar", "Maldives", "Cameroon", "Malta", "Madagascar", "Dominican Republic", "Croatia", "Zimbabwe", "Bulgaria", "Paraguay", "Uruguay", "Honduras", "Slovakia", "Syria", "Burkina Faso", "Libya", "Niger", "Costa Rica", "Cambodia", "Uzbekistan", "Mali", "Cyprus", "Kazakhstan", "Latvia", "Botswana", "Lithuania", "Bolivia", "Haiti", "Rwanda", "Trinidad And Tobago", "Venezuela", "Sierra Leone", "Nicaragua", "Estonia", "Georgia", "Mauritania", "El Salvador", "Turkmenistan", "Montenegro", "Serbia", "Fiji", "Jamaica", "Brunei", "Gabon", "Belarus", "Curacao", "Cuba", "Namibia", "Burundi", "Papua New Guinea", "Seychelles", "Azerbaijan", "Central African Republic", "Armenia", "Swaziland", "Lesotho", "Kyrgyzstan", "Albania", "Tajikistan", "Chad", "Guyana", "Laos", "Comoros", "Suriname", "Mongolia", "Macedonia", "Bosnia And Herzegovina", "Belize", "Barbados", "Equatorial Guinea", "Luxembourg", "New Caledonia", "Macau", "Eritrea", "French Polynesia", "Aruba", "Moldova", "Iceland", "Cayman Islands", "Saint Lucia", "Bermuda", "Grenada", "South Sudan", "Samoa", "Vanuatu", "Antigua and Barbuda", "Dominica", "Solomon Islands", "Tonga", "Sao Tome And Principe", "British Virgin Islands", "Kiribati", "Anguilla", "Andorra", "Faroe Islands", "Cook Islands", "San Marino", "Tuvalu", "Marshall Islands", "Palau", "Northern Mariana Islands", "Greenland"], "colorbar": {"tickprefix": "$", "title": "Export<br>Billions US$"}}], {"title": "Export to Countries around the World by India in USD Billions", "geo": {"showframe": false, "projection": {"type": "Mercator"}}}, {"showLink": false, "linkText": "Export to plot.ly"})</script>'

In [23]:
# create svg file
#plotly.offline.iplot(dict(data = data, layout = layout), validate=False, show_link=False, image='svg')